// reset

*, *:before, *:after
  box-sizing border-box

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display block

body
  font-family font-sans
  line-height 1.25

ol, ul
  padding 0 0 0 space.medium

ul li ul, ul li ol, ol li ol, ol li ul
  margin space.small 0 space.medium 0

blockquote, q
  quotes none

blockquote:before, blockquote:after, q:before, q:after
  content ''
  content none

table
  border-collapse collapse
  border-spacing 0

textarea
  resize vertical

h1, h2, h3, h4, h5, h6
  font-size inherit
  font-weight inherit

button, input, optgroup, select, textarea
  padding 0
  line-height inherit
  color inherit

audio, canvas, embed, iframe, img, object, svg, video
  display block

img, video
  max-width 100%
  height auto
